
// Colours

$primarycolour: #9356DC;
$secondarycolour: #FF79DA;
$tertiarycolour: #99E2D0;


// Font sizes

$font-sm: 0.875rem ; // 14px
$font-nml: 1rem; // 16px
$font-med: 1.125rem; // 18px
$font-lrg: 1.25rem; // 20px