.location {
  background-color: $darkgrey;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  // padding: 0.875rem 0;

  i {
    margin-right: 1rem;
  }
}

.introduction {
  height: 290px;
  // border: 2px solid red;
  text-align: center;
  background-color: #f6f6f6;

  &__title {
    padding-top: 2.625rem;
    font-size: 1.5rem;
  }

  &__text {
    font-size: $font-lrg;
    width:300px;
    font-weight: 100;
    margin: 0 auto;
    padding-top: 3.125rem;
  }

  button {
    margin: 2.125rem auto 3.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(45deg, $secondarycolour .2%, $primarycolour 90%);
    color: #fff;
    border: none;
  }
}

.steps {

  margin: 0rem 1.3rem 1.3rem 1.3rem;

  &__title {
    padding-top: 50px;
    padding-bottom: 2rem;
  }
  
  &__option {
    position: relative;
    width: 95%;
    height: 72px;
    font-weight: 600;
    background-color: #f6f6f6;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-radius: 20px;
    display: flex;
    align-items: center;
    z-index: 1;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:last-child {
      margin-bottom: 4rem;
    }
    
  }

  .circle-colour {
    background: #9356DC;
    padding: 1.2rem 1.2rem;
    position: absolute;
    top: 22px;
    left: -10px;
    z-index: -1;
    border-radius: 50%;
  }

  &__number {
    color: #fff; 
  }

  &__icon {
    color: dimgray;
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-left: 3rem;
  }

  &__text {
    font-size: $font-med;
  }
}

.restaurant-title {
  padding-top: 4rem;
  background: #f2f2f2;
};