@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(-30px);
    background-color: red;
  }
};

.spin {
  transition: .5s;
  transform: rotate(360deg);
}