.background-menu{

  &-image {
    // width: 330px;
    height: 23rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    position: relative;
    object-position: center;
  }
 
}

.menu {

  background: #f6f6f6;

  &-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 18px 30px;
  }

  &-header {
    width: 40px;
    padding-left: 18px;

    &-title {
      margin-bottom: 30px;
      font-size: 1.3rem;
      text-transform:uppercase;
      font-weight: 100;
    }

    &-underline {
      border-top: 3px solid #99E2D0;
      width: 40px;
      margin: -2rem 0 1.9rem 0rem;
    }
    
  }

  &-item {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 1px 10px darkgrey;
    margin-bottom: 1rem;
    border-radius: 5px;
    line-height: 1.5;
    overflow: hidden;
    display: flex;
    justify-content: stretch;

    &:active {
      cursor: pointer;
      position: relative;
      animation: 0.5s fadeIn ease-out;
      animation-fill-mode: backwards;
      animation-delay: 1s;
      background-color: red;


      &:after {
        content: ">>";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
      }
    }

    &:hover {
      background-color: #99E2D0;
    }


    h3 {
      font-size: 1.6rem;
    }
  }

  &-description {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: $font-nml;

    span {
      font-weight: 600;
      font-size: $font-lrg;
    }
  }


}

// .hidden-content {
//   padding: 0 1.8rem;
//   width: .51rem;
//   transition: all .55s;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }